{
  "extends": ["vtex", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint", "vtex"],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0
  },
  "env": {
    "node": true
  },
  "globals": {
    "Promise": "readonly"
  }
}
